@media (min-width: 320px) and (max-width: 480px) { 
	.section_padding{
		padding: 35px 0px;
	}
	.main-logo{
		width: 25% !important;
	}
	.top-nav a {
	    font-size: 12px;
	}
	.top-nav-social{
		text-align: center;
	}
	.banner_section h1 {
	    font-size: 30px;
	    font-weight: 900;
	    line-height: 50px;
	}
	.breadcrum h2 {
		font-size: 36px;
	}
	.banner_section {
	    padding-top: 60px;
	}
	.banner-btn{
		text-align: center;
	}
	.banner-btn button{
		margin-bottom: 10px;
	}
	.watch-video{
		margin: 0px;
	}
	.banner-img {
		order: 1;
		padding-bottom: 50px;
	}
	.banner-text {
		order: 2;
	}
	.banner-img img{
		margin-top: 20px;
	}
	.pie-data{
	  padding-left: 40px;
	}
	.section_heading h1 {
	    font-size: 36px;
	    font-weight: 700;
	}
	.section_heading p{
		width: 100%;
		font-size: 12px;
	}
	.section_1 .card{
		margin:20px 0px;
		padding: 20px 0px;
	} 
	.section_1 .card-img{
		height: auto;
	} 
	.newsletter_input input{
		width: 65%;
	}
	.footer_link{
		border-top:1px solid #fff ;
		border-bottom:1px solid #fff ;
		margin:20px 0px; 
		justify-content: start;
	}
	.section_2_img{
		order: 1;
	}
	.section_2_text{
		order: 2;
		padding-top: 10px;
	}
	.section_heading {
	    text-align: center;
	    padding: 30px 0px 30px 0px;
	}
	.parallax_section .card img {
	    width: 25%;
	}
	.parallax_section .card{
		margin: 20px 0px; 
	}
	.section_3_text h1 {
	    font-size: 36px;
	    font-weight: 700;
	}
	.parallax_section .card-title {
	    font-size: 22px;
	}
	.parallax_section .card-text {
	    font-size: 16px;
	}
	.timeline-img {
		left: 15px;
	}
	.timeline::before {
		left: 15px;
		top: 5%;
		height: 97%;
	}
	.timeline-text{
		padding:10px 25px ;
	}
	.timeline-section-circle{
		top: 98%;
	}
	.timeline .timeline-item:nth-child(2n) .timeline-content::after {
		left: 6%;
	}
	.timeline .timeline-item:nth-child(2n+1) .timeline-content::after {
		left: 6%;
	}
	.timeline-item:nth-child(2n) .timeline-section-circle {
	    left: 0% !important;
	}
	.timeline-item:nth-child(2n) .timeline-section-circle {
	    left: 0% !important;
	}
	.bottom_ball{
		margin-top: 50px;
	}
	.hold_cardhead {
    	font-size: 36px;
	}
	.form-container .form-wrapper .form-box{
		width: 100%;
	}
	.form-wrapper{
		padding-bottom: 60px;
	}
	.form-container .form-wrapper .form-box{
		padding: 1.5rem 1rem;
	}
	.top-nav-text{
		margin: auto;
	}
	.newsletter_head{
		padding-top: 10px;
	}
	.newsletter_input{
		padding-top: 10px;
	}
}

@media (min-width: 481px) and (max-width: 637px) { 
	.main-logo{
		width: 25% !important;
	}
	.banner_section {
	    padding-top: 60px;
	}
	.banner_section h1 {
	    font-size: 44px;
	    font-weight: 900;
	    line-height: 50px;
	}
	.banner-text{
		order: 2;
	}
	.banner-img{
		order: 1;
		padding-bottom: 50px;
	}
	.banner-img img{
		margin-top: 20px;
	}
	.section_heading h1 {
	    font-size: 36px;
	    font-weight: 700;
	}
	.section_heading p{
		width: 100%;
		font-size: 12px;
	}
	.pie-data{
	  padding-left: 40px;
	}
	.section_1 .card{
		margin:20px 0px;
		padding: 20px 0px;
	} 
	.section_1 .card-img{
		height: auto;
	} 
	.newsletter_input input{
		width: 65%;
	}
	.footer_link{
		border-top:1px solid #fff ;
		border-bottom:1px solid #fff ;
		margin:20px 0px;
		justify-content: start; 
	}
	.section_2_img{
		order: 1;
	}
	.section_2_text{
		order: 2;
		padding-top: 10px;
	}
	.section_heading {
	    text-align: center;
	    padding: 30px 0px 30px 0px;
	}
	.parallax_section .card img {
	    width: 25%;
	}
	.parallax_section .card{
		margin: 20px 0px; 
	}
	.section_3_text h1 {
	    font-size: 36px;
	    font-weight: 700;
	}
	.parallax_section .card-title {
	    font-size: 22px;
	}
	.parallax_section .card-text {
	    font-size: 16px;
	}

}

@media (min-width: 638px) and (max-width: 767px) {
	.main-logo{
		width: 25% !important;
	}
	.banner_section {
	    padding-top: 60px;
	}
	.banner-text{
		order: 2;
	}
	.banner-img{
		order: 1;
		padding-bottom: 50px;
	}
	.banner_section h1 {
	    font-size: 46px;
	    font-weight: 900;
	    line-height: 54px;
	} 
	.section_heading p {
	    width: 100%;
	    font-size: 14px;
	}
	.section_1 .card{
		margin:20px 0px;
		padding: 20px 0px;
	} 
	.section_1 .card-img{
		height: auto;
	}
	.section_2_img{
		order: 1;
	}
	.pie-data {
	    padding-left: 40px;
	}
	.section_2_text{
		order: 2;
		padding-top: 10px;
	}
	.section_heading h1 {
	    font-size: 36px;
	    font-weight: 700;
	}
	.section_heading p{
		width: 100%;
		font-size: 12px;
	}
	.parallax_section .card img {
	    width: 25%;
	}
	.parallax_section .card-title {
	    font-size: 22px;
	}
	.parallax_section .card-text {
	    font-size: 16px;
	}
	.footer_link{
		border-top:1px solid #fff ;
		border-bottom:1px solid #fff ;
		margin:20px 0px;
		justify-content: start; 
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	.main-logo{
		width: 25% !important;
	}
	.watch-video{
		margin: 0px;
	}
	.banner_section h1 {
	    font-size: 36px;
	    font-weight: 900;
	    line-height: 46px;
	}
	.section_heading h1 {
	    font-size: 36px;
	    font-weight: 700;
	}
	.section_heading p{
		width: 100%;
		font-size: 12px;
	}
	.section_1 .card{
		margin:20px 0px;
		padding:20px 0px ;
	} 
	.section_1 .card-img{
		height: auto;
	}
	.parallax_section .card img {
	    width: 25%;
	}
	.newsletter_input{
		margin-top: 20px;
		justify-content: center;
	}
	.footer_link {
	    align-items: normal;
	    justify-content: center;
	}
	.parallax_section .card-title {
	    font-size: 22px;
	}
	.parallax_section .card-text {
	    font-size: 16px;
	}
}


@media (min-width: 992px) and (max-width: 1200px) {
	.banner_section h1 {
	    font-size: 40px;
	    font-weight: 900;
	    line-height: 50px;
	}
	.parallax_section .card-title {
	    font-size: 22px;
	}
	.parallax_section .card-text {
	    font-size: 16px;
	}
	.card-img {
 	   height: 130px;
 	}
}